{% extends "default.html" %}
{% block content %}

<body>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{{url_for('static',filename='images/banner/s1.jpg')}}" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{{url_for('static',filename='images/banner/s2.jpg')}}" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{{url_for('static',filename='images/banner/s3.jpg')}}" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-100" src="{{url_for('static',filename='images/banner/s4.jpg')}}" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                        <img class="d-block w-100" src="{{url_for('static',filename='images/banner/s5.jpg')}}" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
 <!-- Aqui Productos-->

<table class="table table-dark table-striped">
  <tbody>
    <tr>
      <td>
            <div class="">
            <a href="/imac-desktop-computer"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429446/resize/360/450?1439529839" alt="iMac Desktop Computer"></a>
            <div class="caption">
                <h3><a href="/imac-desktop-computer">iMac Desktop Computer</a></h3>
            <div class="price-mob"> $1.200.000</div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block"> The idea behind iMac has never wavered: to craft the ultimate desktop experience. The best display, paired with high-performance processors, graphi...</p>
            </div>
            </div>
      </td>
      <td>
            <div class="">
            <a href="/dualshock-controller-for-playstation-4"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429451/resize/360/450?1439530880" alt="Dualshock Controller for PlayStation 4"></a>
            <div class="caption"><h3><a href="/dualshock-controller-for-playstation-4">Dualshock Controller for PlayStation 4</a></h3>
            <div class="price-mob">
            <span class="product-block-not-available">Out of Stock</span>
            </div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block">
            The DualShock®4 Wireless Controller for PlayStation®4 defines the next generation of play, combining revolutionary new features with intuitive, pre..</p>
            </div>
            </div>
      </td>
      <td>
            <div class="">
            <a href="/keyboarded-tablet"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429448/resize/360/450?1439530289" alt="Asus Transformer Pad Tablet"></a>
            <div class="caption"><h3><a href="/keyboarded-tablet">Asus Transformer Pad Tablet</a></h3>
            <div class="price-mob">
            $200.000
            </div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block">The New ASUS Transformer Pad is a 10.1-inch mobile entertainment tablet with a vivid 1280 x 800 IPS display, the latest high-performance Intel BayT...</p>
            </div>
            </div>
      </td>
    </tr>
    <tr>
      <td>
            <div class="">
            <a href="/imac-desktop-computer"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429446/resize/360/450?1439529839" alt="iMac Desktop Computer"></a>
            <div class="caption">
                <h3><a href="/imac-desktop-computer">iMac Desktop Computer</a></h3>
            <div class="price-mob"> $1.200.000</div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block"> The idea behind iMac has never wavered: to craft the ultimate desktop experience. The best display, paired with high-performance processors, graphi...</p>
            </div>
            </div>
      </td>
      <td>
            <div class="">
            <a href="/dualshock-controller-for-playstation-4"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429451/resize/360/450?1439530880" alt="Dualshock Controller for PlayStation 4"></a>
            <div class="caption"><h3><a href="/dualshock-controller-for-playstation-4">Dualshock Controller for PlayStation 4</a></h3>
            <div class="price-mob">
            <span class="product-block-not-available">Out of Stock</span>
            </div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block">
            The DualShock®4 Wireless Controller for PlayStation®4 defines the next generation of play, combining revolutionary new features with intuitive, pre..</p>
            </div>
            </div>
      </td>
      <td>
            <div class="">
            <a href="/keyboarded-tablet"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429448/resize/360/450?1439530289" alt="Asus Transformer Pad Tablet"></a>
            <div class="caption"><h3><a href="/keyboarded-tablet">Asus Transformer Pad Tablet</a></h3>
            <div class="price-mob">
            $200.000
            </div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block">The New ASUS Transformer Pad is a 10.1-inch mobile entertainment tablet with a vivid 1280 x 800 IPS display, the latest high-performance Intel BayT...</p>
            </div>
            </div>
      </td>
    </tr>
  <tr>
      <td>
            <div class="">
            <a href="/imac-desktop-computer"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429446/resize/360/450?1439529839" alt="iMac Desktop Computer"></a>
            <div class="caption">
                <h3><a href="/imac-desktop-computer">iMac Desktop Computer</a></h3>
            <div class="price-mob"> $1.200.000</div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block"> The idea behind iMac has never wavered: to craft the ultimate desktop experience. The best display, paired with high-performance processors, graphi...</p>
            </div>
            </div>
      </td>
      <td>
            <div class="">
            <a href="/dualshock-controller-for-playstation-4"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429451/resize/360/450?1439530880" alt="Dualshock Controller for PlayStation 4"></a>
            <div class="caption"><h3><a href="/dualshock-controller-for-playstation-4">Dualshock Controller for PlayStation 4</a></h3>
            <div class="price-mob">
            <span class="product-block-not-available">Out of Stock</span>
            </div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block">
            The DualShock®4 Wireless Controller for PlayStation®4 defines the next generation of play, combining revolutionary new features with intuitive, pre..</p>
            </div>
            </div>
      </td>
      <td>
            <div class="">
            <a href="/keyboarded-tablet"><img class="img-fluid img-portfolio img-hover mb-3" src="https://cdnx.jumpseller.com/bootstrap/image/429448/resize/360/450?1439530289" alt="Asus Transformer Pad Tablet"></a>
            <div class="caption"><h3><a href="/keyboarded-tablet">Asus Transformer Pad Tablet</a></h3>
            <div class="price-mob">
            $200.000
            </div>
            <div class="clearfix"></div>
            <p class="product-block-description d-none d-md-block">The New ASUS Transformer Pad is a 10.1-inch mobile entertainment tablet with a vivid 1280 x 800 IPS display, the latest high-performance Intel BayT...</p>
            </div>
            </div>
      </td>
    </tr>
  </tbody>
</table>

</body>


















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}

