{% extends "default.html" %}
{% block content %}
  <header class="masthead bg-secondary text-black text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="{{url_for('static',filename='images/tienda.png')}}" alt="">
         </div>
  </header>
    <body class="masthead text-black text-center">
    <div>
      <h1 class="text-uppercase mb-0">Tienda Física</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Jr Medrano Silva 186</h2>
        </div>
   </body>

{% endblock content %}

